.bookLoader-position{
    margin: 2% 40% 2% 38%;
    animation-name: spinner;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes spinner {
    0%{
        transform: rotateZ(0deg);
    }

    100%{
        transform: rotateZ(360deg);
    }
}

@media screen and (max-width: 678px) {
    .bookLoader-position {
        margin: 2% 32% 2% 30%;
    }  
}