.navBar--nav-position {
  justify-self: flex-end;
}

.nav--menu-layout {
  display: flex;
  align-items: center;
  list-style-type: none;
  margin-bottom: 0;
}

.menu--anchor-text {
  margin: 0% 1rem;
  text-decoration: none;
  border-bottom: .2rem whitesmoke transparent;
  color: #adccc7;
  font-weight: 600;
  transition: all 100ms;
}

.menu--anchor-text:hover{
  color: #6b8d87;
  border-bottom: .2rem whitesmoke solid;
}

.menu--anchor-text:focus {
  color: #6b8d87;
}

@media screen and (max-width: 768px) {
  .navbar-nav--mobile {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 2;
      width: 100vw;
      height: 100vh;
      display: none;
      gap: 2rem;
      flex-direction: column;
      justify-content: center;
      align-content: center;
      background-color: #152a38;
  }

  .navbar-nav_open {
      display: flex;
  }
  
  .nav--menu-layout{
      flex-direction: column;
      justify-content: flex-start;
      padding-top: 3rem;
  }
  
  .menu--anchor-text{
      font-size: 2rem;
  }
}